# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# macOS system files
.DS_Store

# Logs
*.log

# Database files (if local SQLite)
*.db
*.sqlite3

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
